## Problem 1 - solved with pandas

In [1]:
import pandas as pd

# import data
data1 = pd.read_csv('dataset/weather_data.dat',skiprows=3,sep='\s+',usecols=['Dy','MxT','MnT'])

# visulize the first 5
data1.head()

  Dy MxT MnT
0  1  88  59
1  2  79  63
2  3  77  55
3  4  77  59
4  5  90  66

In [2]:
# check column dtype
data1.dtypes

Dy     object
MxT    object
MnT    object
dtype: object

In [3]:
# check which data str contains non-numeric characters
data1['MnT_numeric'] = data1['MnT'].apply(lambda x: str(x).isnumeric())
data1[~data1['MnT_numeric']]['MnT']

8      32*
30    60.5
31     NaN
Name: MnT, dtype: object

In [4]:
def remove_star(value_str):
    return value_str.split('*')[0]

In [5]:
# modify in place
data1['MnT'].iat[8] = remove_star(data1['MnT'].iat[8])

In [6]:
# check which data str contains non-numeric characters
data1['MxT_numeric'] = data1['MxT'].apply(lambda x: str(x).isnumeric())
data1[~data1['MxT_numeric']]['MxT']

25     97*
30    82.9
31     NaN
Name: MxT, dtype: object

In [7]:
# modify in place
data1['MxT'].iat[25] = remove_star(data1['MxT'].iat[25])

In [8]:
# change the column dtype to float
data1['MxT'] = data1['MxT'].astype('float')
data1['MnT'] = data1['MnT'].astype('float')

In [9]:
# get the spread between daily minimum and maximum
data1['daily_spread'] = data1['MxT'] - data1['MnT']

# get the minimum spread and its day
data1[data1['daily_spread'] == data1['daily_spread'].min()][['Dy','daily_spread']]

    Dy  daily_spread
13  14           2.0

In [10]:
# get day with minimum spread
data1[data1['daily_spread'] == data1['daily_spread'].min()][['Dy']]

    Dy
13  14

## Problem 1 - solved without pandas

In [11]:
# get file
f1 = open('dataset/weather_data.dat', 'r')

# global minimum value
min_val = float('inf')

# iterate line
for line in f1:
    
    # remove white spaces from the end
    item = line.rstrip()
    
    # get the list before '-'
    list1 = item.split()
    
    # check if list1 has elements
    if list1:
        # check if the first char in first element is digit or not
        if list1[0][0].isnumeric():
            try:
                maximum = int(list1[1])
            except:
                # get maximum with numbers before star
                maximum = int(list1[1].split('*')[0])

            try:
                minimum = int(list1[2])
            except:
                # get minimum with numbers before star
                minimum = int(list1[2].split('*')[0])
            
            # get difference
            diff = maximum - minimum
            
            # get minimum
            if min_val> diff:
                min_val = diff
                min_day = list1[0]

print('The smallest spread is on day {} with value {}.'.format(min_day,min_val))
f1.close()

The smallest spread is on day 14 with value 2.

## Problem 2 - solved with pandas

In [12]:
# read data
data2 = pd.read_csv('dataset/soccer_data.dat',skiprows=2, sep = '\s+', engine='python', usecols=['D','A'])

# visualize data
data2.head()

                    D     A
1. Arsenal       79.0  36.0
2. Liverpool     67.0  30.0
3. Manchester_U  87.0  45.0
4. Newcastle     74.0  52.0
5. Leeds         53.0  37.0

In [13]:
# check data types
data2.dtypes

D    float64
A    float64
dtype: object

In [14]:
# get difference
data2['difference'] = abs(data2['D'] - data2['A'])

# get minimum difference
data2[data2['difference'] == data2['difference'].min()]

                   D     A  difference
8. Aston_Villa  46.0  47.0         1.0

In [15]:
# get the name of team
data2[data2['difference'] == data2['difference'].min()].index[0][1]

'Aston_Villa'

## Problem 2 - solved without pandas

In [16]:
# get file
f2 = open('dataset/soccer_data.dat', 'r')

# global minimum value
min_val = float('inf')

# iterate line
for line in f2:
    
    # remove white spaces from the end
    item = line.rstrip()
    
    # split with '-'
    x = item.split('-')
    
    # get the list before '-'
    list1 = x[0].split()
    
    # if list1 contains elements
    if list1:
        
        # check the first element is digit or not
        if list1[0][0].isnumeric():
            
            # get the list after '-'
            list2 = x[1].split()
            
            # get f and a
            f = list1[-1]
            a = list2[0]
            
            # get difference
            diff = abs(int(f)-int(a))
            
            # check if it is less than minimum
            if diff < min_val:
                min_val = diff
                min_name = list1[1]

print('The team {} has smallest difference in "for" and "against" goals with value {}.'.format(min_name, min_val)) 

f2.close()

The team Aston_Villa has smallest difference in "for" and "against" goals with value 1.